---
import { Code } from 'astro:components';

interface Props {
  code: string;
  lang?: 'html' | 'css' | 'js' | 'ts' | 'astro';
}

const { code, lang = 'html' } = Astro.props;
---

<div class="site-code-wrap">
  <Code code={code} lang={lang} theme="github-dark" />
</div>
